@font-face {
	font-family: Architects;
	src: url(Architects.ttf);
}
body {
	background: url(/CodeBerryMyNameCard/assets/AutumnForest.jpg) no-repeat center center
		fixed;
	background-size: cover;
	font-family: Architects;
}
#own-name-card {
	margin: 20px auto 0 auto;
	width: 60%;
	height: 100vh;
}
.left {
	float: left;
}
#img {
	width: 50%;
	height: 100vh;
	border-radius: 40px 0 0 40px;
	background: url(/CodeBerryMyNameCard/assets/Me.jpg) no-repeat center center;
}
#content {
	width: 50%;
	height: 100vh;
}
#personal,
#about {
	width: 100%;
	height: 32%;
}
#about {
	margin-top: 5px;
	border-radius: 20px;
	border: 2px rgb(194, 166, 86) solid;
	box-shadow: 5px 5px 10px 0 rgba(103, 14, 10),
		5px 5px 10px 0 rgba(103, 14, 10) inset;
	text-align: center;
	font-size: 1rem;
	padding-bottom: 10px;
	line-height: 2rem;
	background-color: rgba(249, 116, 26, 0.5);
}
#contact {
	margin-top: 15px;
	border-radius: 20px;
	border: 2px rgb(194, 166, 86) solid;
	box-shadow: 5px 5px 10px 0 rgba(103, 14, 10),
		5px 5px 10px 0 rgba(103, 14, 10) inset;
	text-align: center;
	font-size: 2rem;
	line-height: 3rem;
	height: 30%;
	background-color: rgba(249, 116, 26, 0.5);
}
.name {
	border-radius: 20px;
	border: 2px rgb(194, 166, 86) solid;
	box-shadow: 5px 5px 10px 0 rgba(103, 14, 10),
		5px 5px 10px 0 rgba(103, 14, 10) inset;
	text-align: center;
	font-size: 32px;
	padding-bottom: 10px;
	line-height: 3rem;
	background-color: rgba(249, 116, 26, 0.5);
}
.live {
	margin-top: 10px;
	border-radius: 20px;
	border: 2px rgb(194, 166, 86) solid;
	box-shadow: 5px 5px 10px 0 rgba(103, 14, 10),
		5px 5px 10px 0 rgba(103, 14, 10) inset;
	text-align: center;
	font-size: 32px;
	padding-bottom: 10px;
	line-height: 3rem;
	background-color: rgba(249, 116, 26, 0.5);
}
.fa,
.fa-map-marker {
	margin: 0;
}
.contact {
	margin-bottom: 30px;
}
li {
	display: inline;
}
a {
	color: black;
}
